{% extends '@App/base.html.twig' %}

{% block body %}
  

<div class ="container mt-1">
  <div  class="carousel slide" data-ride="carousel" data-interval="2000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg width="800" height="400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 400" preserveAspectRatio="none"><defs><style type="text/css">#holder_16d279c03fd text { fill:#555;font-weight:normal;font-family:Helvetica, monospace;font-size:40pt } </style></defs><g id="holder_16d279c03fd"><rect width="800" height="400" fill="#777"></rect><g><text x="285.9140625" y="217.7">Tunisian Survey</text></g></g></svg>
    </div>
    <div class="carousel-item w-100">
      <svg width="800" height="400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 400" preserveAspectRatio="none"><defs><style type="text/css">#holder_16d279c03fd text { fill:#555;font-weight:normal;font-family:Helvetica, monospace;font-size:40pt } </style></defs><g id="holder_16d279c03fd"><rect width="800" height="400" fill="#777"></rect><g><text x="285.9140625" y="217.7">Coming Soon</text></g></g></svg>
    </div>
    
  </div>
</div>
</div>
{% endblock %}

{% block javascripts %}
  <script src="{{asset('bundles/app/js/bootstrap.min.js')}}"></script>
{% endblock %}
